h1{
    margin-left: 5px
}

.progress_bar{
    width: 200px;
    height: 8px;
    background: white;
    margin-bottom: 20px;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 5px;
}

.progress{
    height: 8px;
    background-color: lightskyblue;
    border-radius: 8px;
}

button{
    margin-left: 5px;
    border-style: none;
    width:  120px;
    height: 30px;
    border-radius: 7px;
    color: black;
    background-color: limegreen;
    box-shadow: 2px 2px 2px 0px grey;
    outline: none;
}

button:focus {
    outline: none;
}

.failure{
    background-color: lightcoral;
    margin-left: 10px;
}